.kopsurat {
    width: 10; 
    margin: 0;
}

.judul{
    text-align: center;
    font-family: 'Times New Roman', inherit;, serif;
    font-size: 30px;
}


.table {
    border-radius: 5px;
    background-color: blueviolet;
    font-family: 'Times New Roman', inherit;, serif;
    font-size: 15px;
}

legend {
  color: blueviolet;
}

@media only screen and (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
    }
    .kopsurat {
        width : 100%;
        padding : 0px;
    }
    .judul {
        font-size: 1rem;
        text-align: left;

    }
    td {
        font-size: 0.7rem
    }
    .table {
        margin-left : 0px;